
@{
    ViewBag.Title = "ManageAccount";
    Layout = "~/Views/UserLayout/UserLayout.cshtml";
}

<h2>ManageAccount</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <p class="text-success">@ViewBag.StatusMessage</p>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [@Html.ActionLink("Change your password", "ManagePassword", new { id = (int)@Session["Id"] })]
        </dd>
    </dl>
</div>