
@{
    ViewBag.Title = "Quản lý tài khoản";
    Layout = "~/Views/UserLayout/UserLayout.cshtml";
}

<div>
    @if (ViewBag.thongbao != null)
    {
        <p class="text-success">@ViewBag.thongbao</p>
    }
    <h4>Thay đổi thông tin tài khoản</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Mật khẩu:</dt>
        <dd>
            [@Html.ActionLink("Đổi mật khẩu", "ManagePassword", new { id = (int)@Session["Id"] })]
        </dd>
    </dl>
</div>